.bg-img-hero {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 199, 1, 0.22) 0%, rgba(217, 217, 217, 0) 100%);
  bottom: 484px;
  left: -515px;
  height: 527px;
  width: 527px;
  position: absolute;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.bg-img-rocket {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 100px;
  margin: -100px;

  display: block;
}

.bg-img-values-blue {
  position: absolute;
  left: -140px;
  top: -70px;
}

.bg-img-values-yellow {
  position: absolute;
  left: 40%;
  top: 90px;

  @include media-breakpoint-down (lg) {
    width: 348px;
    height: 348px;
    left: 15%;
    top: 30%;
  }
}

.bg-img-values-green {
  position: absolute;
  right: -50px;
  top: -70px;

  @include media-breakpoint-down (lg) {
    width: 3988px;
    height: 398px;
    right: -20%;
    top: 53%;
  }
}

.bg-img-what-we-do-yellow {
  left: 160px;
  top: 92px;
  opacity: .7;
  position: absolute;

  @include media-breakpoint-down (lg) {
    left: 15%;
    top: 600px;
    opacity: 1; 
  }
}

.bg-img-what-we-do-blue {
  right: 192px;
  top: 15px;
  opacity: .7;
  position: absolute;

  @include media-breakpoint-down (lg) {
    right: 30%;
    top: 270px;
    opacity: 1;
  }
}

.bg-img-start-ups-yellow {
  top: 40px;
  left: 10%;
  opacity: .7;
  position: absolute;

  @include media-breakpoint-down (lg) {
    width: 512px;
    top: 351px;
    right: auto;
    left: -14%;
  }
}

.bg-img-start-ups-blue {
  top: -200px;
  right: 9%;
  opacity: .7;
  position: absolute;

  @include media-breakpoint-down (lg) {
    width: 587px;
    top: -10px;
    right: -11%;
  }
}