$icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="12" fill="none"><path fill="#0386FF" fill-rule="evenodd" d="M1.263 1.127a1.716 1.716 0 0 1 2.474 0L9.5 7.054l5.763-5.927a1.716 1.716 0 0 1 2.474 0 1.836 1.836 0 0 1 0 2.546l-7 7.2a1.716 1.716 0 0 1-2.474 0l-7-7.2a1.837 1.837 0 0 1 0-2.546Z" clip-rule="evenodd"/></svg>');
$icon-grey: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="12" fill="none"><path fill="#717171" fill-rule="evenodd" d="M1.263 1.127a1.716 1.716 0 0 1 2.474 0L9.5 7.054l5.763-5.927a1.716 1.716 0 0 1 2.474 0 1.836 1.836 0 0 1 0 2.546l-7 7.2a1.716 1.716 0 0 1-2.474 0l-7-7.2a1.837 1.837 0 0 1 0-2.546Z" clip-rule="evenodd"/></svg>');

.btn-section {
  background: rgba(149, 204, 255, 0.26);
  backdrop-filter: blur(2px);
  border-radius: 68px;
  padding-bottom: 75px;
  padding-top: 50px;
  padding-left: 16px;
  padding-right: 16px;

  @include media-breakpoint-up(sm) {
    padding-bottom: 85px;
    padding-left: 35px;
    padding-right: 35px;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.btn-primary,
.btn-secondary  {
  --bs-btn-color: #fff;
  --bs-btn-hover-color:#fff;
  --bs-btn-active-color:#fff;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

.btn-info {
  --bs-btn-color: #0386ff;
  --bs-btn-hover-color:#717171;
  --bs-btn-active-color:#717171;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

.btn-down {
  &::after {
    display: inline-block;
    flex-shrink: 0;
    width: 19px;
    height: 12px;
    content: "";
    background-image: escape-svg($icon);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
  }

  &:hover::after{
    background-image: escape-svg($icon-grey);
  }
}

.btn-header {
  line-height: 1.2;
  @include media-breakpoint-down(sm) {
    font-size: 10px;
  }
}

.bth-hero {
  margin-right: 50px;

  @include media-breakpoint-down(xl) {
    margin-right: 30px;
  }
  
  @include media-breakpoint-down(lg) {
    margin-bottom: 15px;
    margin-right: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

.btn-join {
  width: 212px;
}

.bth-form {
  @include media-breakpoint-down(lg) {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
} 

.btn-startup {
  font-size: 16px;
  line-height: 1.2;
  margin-right: auto;
  margin-left: auto;
}