.card-svg {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-down(lg) {
    height: 64px;
    width: 64px;
  }
}

// .card-background {
//   background: rgba(255, 255, 255, 0.62);
//   backdrop-filter: blur(2px);
// }

.card-startup {
  padding: 50px 20px 40px;
  @include media-breakpoint-up(lg) {
    padding: 55px 50px 40px;
  }
}

.card-startup-title {
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 40px;
  text-align: center;
  
  @include media-breakpoint-down(sm) {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 50px;
  }
}

.card-startup-text {
  font-style: 20px;
  line-height: 1.7;
  margin-bottom: 20px;
  text-align: center;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.card-team {
  padding: 25px 12px 50px;
  @include media-breakpoint-up(lg) {
    padding: 40px 60px 55px;
  }
}

.card-team-title {
  font-weight: 700;
  margin-bottom: 5px;
  // margin-top: 40px;
  
  @include media-breakpoint-down(sm) {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
  }
}

.card-team-text-blue {
  color: $secondary;
  font-style: 20px;
  line-height: 1.5;
  margin-bottom: 30px;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.card-team-text {
  font-style: 22px;
  line-height: 1.96;

  @include media-breakpoint-down(sm) {
    font-size: 15px;
    text-align: center;
  }
}