.mentor-item-img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-down(lg) {
    height: 145px;
    width: 145px;
  }
}

.mentor-item-title {
  color: $title-color;
  font-weight: 700;
  font-size: 20px;
  margin-top: 15;
  margin-bottom: 15px;
  text-align: center;

  @include media-breakpoint-up(sm) {
    margin-top: 20;
    margin-bottom: 20px; 
  }
}

.mentor-item-text {
  color: $secondary;
  margin-bottom: 0;
  text-align: center;

  @include media-breakpoint-up(sm) {
    font-size: 20px;
  }
}