header {
  padding-top: 15px;
  padding-bottom: 15px;

  @include media-breakpoint-down(sm) {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.header-nav {
  align-items: center;
  display: flex;
}

.header-logo {
  margin-right: auto;
}

.header-logo-img {
  @include media-breakpoint-down(sm) {
    height: 32px;
    width: 150px;
  }
}

.header-nav-list {
  display: flex;
  gap: 80px;
  list-style: none;
  margin-bottom: 0;
  margin-right: 35px;
  padding-left: 0;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.header-nav-link {
  color: $title-color;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
}