main {
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 0;

  @include media-breakpoint-down(sm) {
    padding-top: 10px;
  }
}

.form-main {
  padding-bottom: 50px;

  @include media-breakpoint-down(sm) {
    padding-bottom: 10px;
  }
}