.hero-section {
  padding-bottom: 45px;
  padding-top: 15px;

  @include media-breakpoint-up(lg) {
    // padding-bottom: 195px;
    padding-bottom: 90px;
    padding-top: 60px;
  }
}

.mission-section {
  // padding-bottom: 118px;
  padding-bottom: 80px;

  @include media-breakpoint-up(lg) {
    // padding-bottom: 143px;
    padding-bottom: 90px;
  }
}

.values-section {
  // padding-bottom: 108px;
  padding-bottom: 80px;

  @include media-breakpoint-up(lg) {
    // padding-bottom: 120px;
    padding-bottom: 90px;

  }
}

.what-we-do-section {
  padding-bottom: 80px;
  // padding-top: 110px;
  padding-top: 80px;


  @include media-breakpoint-up(lg) {
    // padding-bottom: 170px;
    padding-bottom: 90px;
    // padding-top: 180px;
    padding-top: 80px;
  }
}

.industries-section {
  padding-bottom: 85px;

  @include media-breakpoint-up(lg) {
    // padding-bottom: 220px;
    padding-bottom: 90px;
  }
}

.team-section {
  padding-bottom: 80px;

  @include media-breakpoint-up(lg) {
    // padding-bottom: 45px;
    padding-bottom: 90px;
  }
}

.mentors-section {
  // padding-bottom: 120px;
  padding-bottom: 80px;

  @include media-breakpoint-up(lg) {
    // padding-bottom: 245px;
    padding-bottom: 90px;
  }
}

.start-ups-section {
  padding-bottom: 80px;

  @include media-breakpoint-up(lg) {
    // padding-bottom: 210px;
    padding-bottom: 90px;
  }
}

.form-section {
  background: #00142A;
  border-radius: 43px;
  padding: 25px 16px;

  @include media-breakpoint-up(sm) {
    padding: 35px 33px; 
  }
}