<div class="form-section">
<div class="row row-cols-1 row-cols-lg-2 g-2">
  <div class="col-lg-5">
    <img class="img-fluid form-img" src="/src/images/form-img-min.jpg" alt="Foto of Oxword building with ukranian flag" width="520" height="650">
  </div>
  <div class="col-lg-7">
    <h2 class="form-title" id="form">Ready to Join?</h2>
    <p class="form-text">Type your Startup information</p>

    <form class="row g-2">
      <div class="col-md-6">
        <input type="text" class="form-control form-input-text" placeholder="Name" aria-label="Name">
      </div>
      <div class="col-md-6">
        <input type="email" class="form-control form-input-text" placeholder="Email" aria-label="Email">
      </div>
      <div class="col-12">
        <textarea class="form-control form-input-text" placeholder="Message" style="height: 177px"></textarea>
      </div>
      <div class="col-12 text-align-center">
        <button type="submit" class="btn btn-primary bth-form">Send</button>
      </div>
    </form>
  
  </div>
</div>
</div>