<header>
  <nav>
    <div class="container-fluid header-nav">
      <div>
        <a href="/" title="Go to the main page">
          <img class="header-logo" src="/src/images/logo.svg" alt="Site logo" width="150" height="32">
        </a>
      </div>

      <div>
        <ul class="header-nav-list">
          <li><a class="header-nav-link" href="">About us</a></li>
          <li><a class="header-nav-link" href="">Team</a></li>
          <li><a class="header-nav-link" href="">Startups</a></li>
        </ul>
      </div>
  
      <div>
        <button class="btn btn-primary header-btn">CONTACT US</button>
      </div>
      
    </div>
  </nav>
</header>