<div class="hero-section">

  <div class="row row-cols-1 row-cols-lg-2 mb-5">
    <div class="col-lg-7">
      <h1>Transform
        <span class="blue">Your Ideas into Reality:</span>
      Explore Programs for Ukrainian Startups</h1>
      <p>Providing resources, mentorship, and funding to help you grow your startup.</p>

      <div class="active-md">
        <a class="btn btn-primary bth-hero" href="#form">Join us</a>
        <a class="btn btn-info btn-down bth-hero" href="">Learn more</a>
      </div>
    </div>

    <div class="col-lg-5">
      <img class="img-fluid mb-3 d-block" src="/src/images/hero.svg" alt="Hero image" width="596" height="567">

      <div class="active-sm">
        <a class="btn btn-primary bth-hero" href="#form">Join us</a>
        <a class="btn btn-info btn-down bth-hero" href="">Learn more</a>
      </div>
    </div>
  </div>

  <p class="hero-text" id="about-us">OxUA Incubator is an online platform in Oxford that accelerates Ukrainian startups and facilitates cooperation between
  the UK and Ukraine in the digital and technological sectors, selecting and supporting promising Ukrainian startups with
  academic, financial and mentorship resources.</p>
  <p class="text text-align-center mb-8">OxUA Incubator accelerates promising Ukrainian startups with academic, financial, and mentorship resources, promoting
  UK-Ukraine cooperation in tech, specifically in education and health sectors</p>

  <div class="row  row-cols-xl-5 align-items-center text-align-center g-3">
    <div class="col">
      <img class="" src="/src/images/20+.svg" alt="" width="224" height="112">
    </div>
    <div class="col">
      <img src="/src/images/hero1.svg" alt=""  width="102" height="102">
    </div>
    <div class="col">
      <img src="/src/images/hero2.svg" alt="" width="102" height="102">
    </div>
    <div class="col">
      <img src="/src/images/hero3.svg" alt="" width="228" height="28">
    </div>
    <div class="col">
      <img src="/src/images/hero4.svg" alt="" width="130" height="67">
    </div>
  </div>
</div>