<div>
  <div class="row">
    <div class="col-md-7">
      <h1>Transform
        <span class="blue">Your Ideas into Reality:</span>
      Explore Programs for Ukrainian Startups</h1>
      <p>Providing resources, mentorship, and funding to help you grow your startup.</p>
      <button class="btn btn-primary">Join us</button>
      <button class="btn btn-primary">Join us</button>
    </div>
    <div class="col-md-5">
      <img class="img-fluid" src="/src/images/hero.svg" alt="Hero image" width="596" height="567">
    </div>
  </div>
  <p class="hero-text">OxUA Incubator is an online platform in Oxford that accelerates Ukrainian startups and facilitates cooperation between
  the UK and Ukraine in the digital and technological sectors, selecting and supporting promising Ukrainian startups with
  academic, financial and mentorship resources.</p>
  <p class="text">OxUA Incubator accelerates promising Ukrainian startups with academic, financial, and mentorship resources, promoting
  UK-Ukraine cooperation in tech, specifically in education and health sectors</p>
</div>