<div class="hero-section position-relative">
  <div class="bg-img-hero"></div>

  <div class="row row-cols-1 row-cols-lg-2 mb-5">
    <div class="col-lg-7">
      <h1>Transform
        <span class="blue">Your Ideas into Reality:</span>
      Explore Programs for Ukrainian Startups</h1>
      <p class="p-text">Providing resources, mentorship, and funding to help you grow your startup.</p>

      <div class="active-md">
        <a class="btn btn-primary bth-hero btn-join" href="#btn">Join us</a>
        <a class="btn btn-info btn-down bth-hero" href="#about-us">Learn more</a>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="bg-img-rocket" style="background-image: url(/src/images/bg1.png)">
        <img class="img-fluid mb-3 d-block position-relative" src="/src/images/hero.svg" alt="Hero image" width="596" height="567">
      </div>
    </div>

      <div class="active-sm">
        <a class="btn btn-primary bth-hero" href="#btn">Join us</a>
        <a class="btn btn-info btn-down bth-hero" href="#about-us">Learn more</a>
      </div>
  </div>

    <p class="hero-text" id="about-us">OxUA Incubator is an online platform in Oxford that accelerates Ukrainian startups and facilitates cooperation between
      the UK and Ukraine in the digital and technological sectors, selecting and supporting promising Ukrainian startups with
      academic, financial and mentorship resources.</p>
      <p class="text-align-center mb-5">OxUA Incubator accelerates promising Ukrainian startups with academic, financial, and mentorship resources, promoting
      UK-Ukraine cooperation in tech, specifically in education and health sectors</p>
    
    <div class="row row-cols-xl-5 align-items-center text-align-center g-3">
      <div class="col d-flex flex-column card-number">
        <span class="number">20+</span>
        <span class="number-text">Partners and Mentors</span>
      </div>
      <div class="col">
        <img src="/src/images/hero1.svg" alt=""  width="102" height="102">
      </div>
      <div class="col">
        <img src="/src/images/hero2.svg" alt="" width="102" height="102">
      </div>
      <div class="col">
        <img src="/src/images/hero3.svg" alt="" width="228" height="28">
      </div>
      <div class="col">
        <img src="/src/images/hero4.svg" alt="" width="130" height="67">
      </div>
    </div>
</div>