<div class="industries-section">
  <p class="hero-text">Objectives and Key Industries:</p>
  <div class="row row-cols-1 row-cols-lg-3 g-3">
    <div class="col">
      <p class="dot-text">Supporting Ukraine’s educational and health start-ups and contributing to Ukraine's economy</p>
    </div>
    <div class="col">
      <p class="dot-text">Bridging Ukraine's IT industry and UK's investment opportunities</p>
    </div>
    <div class="col">
      <p class="dot-text">Facilitation of UA-UK economic relationships</p>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-lg-3 g-3">
    <div class="col">
      <img class="img-fluid" src="/src/images/health.svg" alt="" width="407" height="407">
    </div>
    <div class="col">
      <img class="img-fluid" src="/src/images/education.svg" alt="" width="407" height="407">
    </div>
    <div class="col">
      <img class="img-fluid" src="/src/images/biotech.svg" alt="" width="407" height="407">
    </div>
  </div>
</div>