<div class="industries-section">
  <p class="hero-text">Objectives and Key Industries:</p>
  <div class="row row-cols-1 row-cols-lg-3 g-3">
    <div class="col">
      <p class="dot-text">Supporting Ukraine’s educational and health start-ups and contributing to Ukraine's economy</p>
    </div>
    <div class="col">
      <p class="dot-text">Bridging Ukraine's IT industry and UK's investment opportunities</p>
    </div>
    <div class="col">
      <p class="dot-text">Facilitation of UA-UK economic relationships</p>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-lg-3 g-3 active-md">
    <div class="col">
      <img class="img-fluid" src="/src/images/health.svg" alt="Health" width="407" height="407">
    </div>
    <div class="col">
      <img class="img-fluid" src="/src/images/education.svg" alt="Education" width="407" height="407">
    </div>
    <div class="col">
      <img class="img-fluid" src="/src/images/biotech.svg" alt="Biotech" width="407" height="407">
    </div>
  </div>


  <div id="carouselIndustries" class="carousel slide active-sm">
    <div class="carousel-indicators mb--40">
      <button type="button" data-bs-target="#carouselIndustries" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselIndustries" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselIndustries" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/src/images/health.svg" class="d-block mx-auto img-fluid" alt="Health" width="295" height="295">
      </div>
      <div class="carousel-item">
        <img src="/src/images/education.svg" class="d-block mx-auto img-fluid" alt="Education" width="295" height="295">
      </div>
      <div class="carousel-item">
        <img src="/src/images/biotech.svg" class="d-block mx-auto img-fluid" alt="Biotech" width="295" height="295">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndustries" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndustries" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>

</div>