<div class="mentors-section">
  <p class="hero-text">Mentors:</p>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-5">
    <div class="col">
      <img class="img-fluid mentor-item-img" src="/src/images/mentor1-min.jpg" alt="Foto of mentor" width="167" height="167">
      <p class="mentor-item-title">Prof. Lionel Tarassenko</p>
      <p class="mentor-item-text">CBE, FREng, FMedSci President of Reuben College, Pro-Vice-Chancellor of the University of Oxford</p>
    </div>
    <div class="col">
      <img class="img-fluid mentor-item-img" src="/src/images/mentor2-min.jpg" alt="Foto of mentor" width="167" height="167">
      <p class="mentor-item-title">Dr. Yegor Aushev</p>
      <p class="mentor-item-text">CEO and Co-Founder of CyberUnit.Tech</p>
    </div>
    <div class="col">
      <img class="img-fluid mentor-item-img" src="/src/images/mentor3-min.jpg" alt="Foto of mentor" width="167" height="167">
      <p class="mentor-item-title">Artem Kopanev</p>
      <p class="mentor-item-text">COO at Genesis</p>
    </div>
    <div class="col">
      <img class="img-fluid mentor-item-img" src="/src/images/mentor4-min.jpg" alt="Foto of mentor" width="167" height="167">
      <p class="mentor-item-title">Oksana Matviichuk </p>
      <p class="mentor-item-text">Marketing Expert, top 50 women leaders in NYC in 2022</p>
    </div>
  </div>
</div>