<div class="mission-section">
  <div class="row row-cols-1 row-cols-lg-2 mb-8 g-4 align-items-center text-align-center-lg">
    <div class="col-lg-6">
      <h2 class="mission-title">Mission:</h2>
      <p class="text">We aim to foster a dynamic and inclusive startup ecosystem in Ukraine by connecting entrepreneurs, investors, mentors, and educators across UK and US communities to support innovative and transformative concepts prioritizing sustainable growth. We prioritize biotech, health, and educational startups to drive positive change and foster economic development.
      </p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" src="./images/mission.jpg" alt="Foto of Oxword" width="767" height="551">
    </div>
  </div>
  <div class="row row-cols-1 row-cols-lg-2 g-4 align-items-center text-align-center-lg">
    <div class="col-lg-6">
      <img class="img-fluid" src="./images/vision.jpg" alt="Foto of Oxword" width="767" height="551">
    </div>
    <div class="col-lg-6 order-first">
      <h2 class="vision-title">Vision:</h2>
      <p class="text">Our vision is to establish Ukraine as a global leader in innovation and entrepreneurship by empowering startups that drive economic growth and societal impact, restoring Ukraine's economy and communities in the wake of war. 
      </p>
    </div>
  </div>
</div>