<div class="section position-relative">
  <img src="/src/images/bg6.png" alt="background color" width="796" class="bg-img-start-ups-yellow">
  <img src="/src/images/bg7.png" alt="background color" width="912" height="912" class="bg-img-start-ups-blue">

  <p class="hero-text ukr-text" id="start-up">Selected Start-ups from Ukraine</p>

  <div id="carouselStartUps" class="carousel slide">
    <div class="carousel-indicators active-sm">
      <button type="button" data-bs-target="#carouselStartUps" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselStartUps" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselStartUps" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselStartUps" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselStartUps" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselStartUps" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card card-startup card-background ">
          <img class="img-fluid d-block mx-auto" src="/src/images/memoryOs.svg" alt="Logo of start-ups" width="143" height="143">
          <h2 class="card-startup-title">MemoryOS</h2>
          <p class="card-startup-text">AI-powered memory improvement gamified app, co-developed by 2X World Memory Champion. It is the most funded app in Kickstarter's history</p>
          <a class="btn btn-info btn-sm btn-startup" href="/">VISIT WEBSITE</a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card card-startup card-background ">
          <img class="img-fluid d-block mx-auto" src="/src/images/PLATMA.svg" alt="Logo of start-ups" width="143" height="143">
          <h2 class="card-startup-title">PLATMA</h2>
          <p class="card-startup-text">PLATMA is the next generation Low/No Code educational and development platform that allows the creation of software solutions by simply using English as a universal coding language</p>
          <!-- <a class="btn btn-info btn-sm btn-startup" href="/">VISIT WEBSITE</a> -->
        </div>
      </div>
      <div class="carousel-item">
        <div class="card card-startup card-background ">
          <img class="img-fluid d-block mx-auto" src="/src/images/ClinCaseQuest.svg" alt="Logo of start-ups" width="398" height="122">
          <h2 class="card-startup-title">ClinCaseQuest</h2>
          <p class="card-startup-text">Simulation training platform for medical students and healthcare practitioners to gain clinical experience in safe virtual environment</p>
          <!-- <a class="btn btn-info btn-sm btn-startup" href="/">VISIT WEBSITE</a> -->
        </div>
      </div>
      <div class="carousel-item">
        <div class="card card-startup card-background ">
          <img class="img-fluid d-block mx-auto" src="/src/images/raccoon.svg" alt="Logo of start-ups" width="442" height="73">
          <h2 class="card-startup-title">Raccoon</h2>
          <p class="card-startup-text">The first world digital physiotherapist in your smartphone. This HealthTech startup makes rehabilitations accessible to everyone in need
          </p>
          <!-- <a class="btn btn-info btn-sm btn-startup" href="/">VISIT WEBSITE</a> -->
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselStartUps" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselStartUps" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</div>