<div class="values-section">
  <h2 class="title-blue">Values:</h2>

  <div class="row row-cols-1 row-cols-lg-3 mb-8 g-5">
    <div class="col">
      <p class="text"><b>Bridge:</b> We believe in building bridges between stakeholders to create a cohesive network that fosters collaboration and knowledge sharing.</p>
    </div>
    <div class="col">
      <p class="text"><b>Unite:</b> We are committed to bringing together diverse perspectives, experiences, and backgrounds to create an inclusive community that supports each other's success.
      </p>
    </div>
    <div class="col">
      <p class="text"><b>Innovate:</b> We prioritize innovative and transformative concepts that have the potential to disrupt industries and drive positive change.
      </p>
    </div>
  </div>

  <p class="text bold blue text-align-center">By living out our values of Bridge, Unite, Innovate, we will provide startups with the resources, support, and network they need to thrive and establish Ukraine as a leader in innovation and entrepreneurship.</p>
</div>