<div class="what-we-do-section">
  <h2 class="title-blue">What we do:</h2>
  <p class="hero-text">Select the most promising UA-based start-ups and provide them</p>

  <div class="row row-cols-1 row-cols-lg-3 g-3">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img class="card-svg" src="/src/images/what-we-do1.svg" alt="" width="85" height="85">
          <h3 class="">Funding Solutions</h3>
          <p class="text-align-center">We act as intermediaries between the selected UA-based start-ups and VC funds and investors</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img class="card-svg" src="/src/images/what-we-do2.svg" alt="" width="85" height="85">
          <h3 class="">Mentorship and Business Guidance</h3>
          <p class="text-align-center">We provide risk-adjusted legal and business advice to selected start-ups</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img class="card-svg" src="/src/images/what-we-do3.svg" alt="" width="85" height="85">
          <h3 class="">Networking opportunities</h3>
          <p class="text-align-center">We connect start-ups with investors, mentors and advisors. Also, we arrange and coordinate networking events, start-up crash tests, mentorship and advisors</p>
        </div>
      </div>
    </div>
  </div>
</div>