$title-color: #00142a;
$primary-text-color: #5f5f5f;
// $blue-text-color: #0386ff;
$grey-text-color: #717171;
$white-text-color: #fff;
$primary: #ff8701;
$secondary: #0386ff;
$third: #e4eff9;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1280px
);

$container-padding-x: 40px;

$font-family-sans-serif: Inter, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$body-color: $primary-text-color;

// Spacing
$spacer: 10px;
$spacers: (
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  8: $spacer * 8,
);

// Typography
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;

// $line-height-base: 2;

// $headings-margin-bottom: $spacer * .5 !default;
// $headings-font-family: null !default;
// $headings-font-style: null !default;

$headings-font-weight: 600;
$headings-line-height: 1.4;
$headings-color: $title-color;

// Style p element.
// $paragraph-margin-bottom: 1rem !default;